#root {
  background-color: #2c2c2c;
  min-height: 100vh;
}

.center-aligned {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Header styles */
div.me-auto a {
  text-decoration: none;
  color: #eee;
  padding: 0.5rem 1rem;
  border-radius: 3px;
}

div.me-auto a:hover {
  background-color: #0000003d;
}

/* Registration styles */
.registration-form {
  width: 600px;
  margin: 5rem 3rem;
  padding: 2rem;
  background-color: #fff;
}

textarea {
  resize: none;
}

/* Registered users styles */
div.search-box {
  margin-top: 3rem;
}

div.search-box input {
  padding: 0.35rem 1rem;
  width: 600px;
}

div.list-wrapper {
  padding: 0.5rem;
  margin: 2rem 3rem;
  max-height: 400px;
  overflow-y: auto;
  max-width: 600px;
}
